.page_shipping {} .page_shipping .shipping-title {
    padding: 59px 15px;
    font-family: 'quarkbold';
    font-size: 48px;
    color: #4f4f4f;
    text-transform: capitalize;
}
.page_shipping .thank-detail {
    background: #fff;
    width: 100%;
    // height: 417px;
    padding: 25px 15px;
    margin-bottom: 25px;
    border: 1px solid #eee;
}
.page_shipping .thank-detail .list-detail-item {
    font-family: 'quarkbold';
}
.page_shipping .thank-detail .list-detail-item .list-itme > .table {
    margin-bottom: 15px;
}
.page_shipping .thank-detail .list-detail-item .list-itme .table>tbody>tr>td {
    text-align: left;
    border: none;
    font-family: 'quarkbold';
    font-size: 16px;
}
.page_shipping .thank-detail .list-detail-item .list-itme .table>tbody>tr>td.title {} .page_shipping .thank-detail .list-detail-item .list-itme .table>tbody>tr>td.qty {
    min-width: 50px;
}
.page_shipping .thank-detail .date-order {
    text-align: right;
    padding-top: 12px;
    font-size: 14px;
    font-weight: 600;
}
.page_shipping .thank-detail .date-time {
    text-align: right;
    padding-top: 8px;
    font-size: 14px;
    font-weight: 600;
}
.page_shipping .thank-detail .list-detail-item {
    padding-top: 30px;
}
.page_shipping .thank-detail .list-detail-item {} .page_shipping .thank-detail .list-itme {
    border-bottom: 1px dashed;
}
.page_shipping .thank-detail .delivery {
    padding-top: 30px;
}
.page_shipping .thank-detail .delivery .delivery-text {
    text-align: left;
    display: block;
    font-family: 'quarkbold';
    font-size: 20px;
}
.page_shipping .thank-detail .delivery .delivery-date {
    text-align: left;
    font-size: 16px;
}
.page_shipping .thank-detail .summary {
    padding-top: 30px;
}
.page_shipping .thank-detail .summary .total-text {
    text-align: left;
    display: block;
    font-family: 'quarkbold';
    font-size: 20px;
}
.page_shipping .thank-detail .summary .point-text {
    font-size: 16px;
    color: #a71a3c;
}
.page_shipping .thank-detail .summary .total {
    text-align: right;
    display: block;
    font-family: 'quarkbold';
    font-size: 20px;
}
.page_shipping .thank-detail .summary .point {
    text-align: right;
    color: #a71a3c;
}
.page_shipping .delivery-title {
    font-family: 'quarkbold';
    font-size: 48px;
    line-height: 48px;
    color: #4f4f4f;
    text-transform: capitalize;
    text-align: right;
    position: relative;
}
.page_shipping .delivery-title .sub {
    font-family: 'quarkbold';
    font-size: 16px;
    line-height: 0;
    color: #4f4f4f;
    text-transform: capitalize;
    position: absolute;
    right: 30px;
    bottom: 0;
}
.page_shipping .express .title {
    display: block;
    margin-bottom: 8px;
    font-family: 'quarkbold';
    font-size: 16px;
    letter-spacing: .6px;
}
.page_shipping .express .title .icon {
    width: 34px;
    height: 34px;
    display: inline-block;
    background: #4f4f4f;
    text-align: center;
    vertical-align: middle;
    line-height: 37px;
    border-radius: 20px;
    color: #fff;
    font-family: 'quarkbold';
}
.page_shipping .express .desc {
    display: block;
    font-size: 15px;
}
.page_shipping .express input.point {
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    width: 170px;
    border: 1px solid #ccc;
    display: inline-block;
}
.page_shipping .deliver-table {
    font-family: 'quarkbold';
    font-size: 16px;
    margin: 25px 0 50px 0;
    border: 1px solid #eee;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 1px 0px 0 rgba(0, 0, 0, 0.12), 0 5px 1px -2px rgba(0, 0, 0, 0.2);
}
.page_shipping .deliver-table .table>thead>tr>th {
    text-transform: capitalize;
    font-family: 'quarkbold';
    font-size: 19px;
}
.page_shipping .panel-shipping {
    margin-top: 48px;
    border: none;
}
.page_shipping .panel-shipping {
    display: table;
    width: 100%;
}
.page_shipping .panel-shipping .panel-heading{
    font-family: 'quarkbold';
    font-size: 20px;
    border: none;
	background: #ad1b3f;
}
.page_shipping .panel-shipping .panel-heading .panel-title{
    line-height: 18px;
}
.page_shipping .panel-shipping .detail {
    background: #f8f8f8;
}
.page_shipping .panel-shipping .detail .group {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    float: left;
    width: 100%;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 12px;
}
.page_shipping .panel-shipping .detail .group input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}
.page_shipping .panel-shipping .detail .group label {
    display: block;
    position: relative;
    font-weight: 300;
    padding: 0 30px;
    margin: 5px auto;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    font-family: 'quarkbold';
    font-size: 20px;
}
.easy-autocomplete {
    width: 100% !important;
    input {
        transition: all 300ms linear 0s !important;
    }
}
.page_shipping .panel-shipping .detail .group .check {
    display: block;
    position: absolute;
    border: 1px solid #AAAAAA;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    top: 7px;
    left: 0px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}
.page_shipping .panel-shipping .detail .group .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    width: 8px;
    height: 8px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}
.page_shipping .panel-shipping .detail .group input[type=radio]:checked ~ .check {
    border: 5px solid #ad1b3f;
}
.page_shipping .panel-shipping .detail .group input[type=radio]:checked ~ .check::before {
    background: #fff;
}
.page_shipping .panel-shipping .detail .group input[type=radio]:checked ~ label {
    color: #ad1b3f;
}
.page_shipping .panel-shipping .detail .group address {
    padding-left: 30px;
    position: relative;
    display: inline-block;
    width: 80%;
}
.page_shipping .panel-shipping .detail .group a.bin {
    height: auto;
    font-size: 22px;
    color: #666;
}
.page_shipping .panel-shipping .detail .add {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    float: left;
    width: 100%;
    border: 2px solid #9ca643;
    margin: 25px 0;
}
.page_shipping .panel-shipping .detail .add > a {
    text-decoration: none;
    color: #9ca643;
    font-family: 'quarkbold';
    font-size: 17px;
	    display: block;
    padding: 15px;
}
.page_shipping .panel-shipping .detail .add > a i {
    font-size: 17px;
}
.page_shipping .panel-shipping .detail .form-shipping {
    position: relative;
    float: left;
    width: 100%;
}
.page_shipping .panel-shipping .detail .form-shipping label {
    font-size: 19px;
    line-height: 34px;
    font-family: 'quarkbold';
}
.page_shipping .panel-shipping .detail .form-shipping span {
    font-size: 19px;
    line-height: 34px;
    font-family: 'quarkbold';
}
.page_shipping .panel-shipping .detail .form-shipping .btn-submit-form {
	font-size: 14px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 10px 0 5px -2px #888;
    box-shadow: 1px 2px 5px 1px #c1b2b2;
    letter-spacing: 1px;
    font-family: quarkbold;
    padding: 3px 30px;
}
.page_shipping .panel-billing {
    margin-top: 48px;
    border: none;
}
.page_shipping .panel-billing .panel-heading{
	background: #ad1b3f;
	font-family: quarkbold !important;
	cursor: pointer;
}
.page_shipping .panel-billing .icon {
    width: 24px;
    height: 24px;
    background: #fff;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 26px;
    margin-right: 12px;
}
.page_shipping .panel-billing .icon i {
    color: #ad1b3f;
}
.page_shipping .panel-billing {
    display: table;
    width: 100%;
}
.page_shipping .panel-billing .detail {
    background: #f8f8f8;
}
.page_shipping .panel-billing .detail .group {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    float: left;
    width: 100%;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 12px;
}
.page_shipping .panel-billing .detail .group input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}
.page_shipping .panel-billing .detail .group label {
    display: block;
    position: relative;
    font-weight: 300;
    padding: 0 30px;
    margin: 5px auto;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    font-family: 'quarkbold';
    font-size: 20px;
}
.page_shipping .panel-billing .detail .group .check {
    display: block;
    position: absolute;
    border: 1px solid #AAAAAA;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    top: 7px;
    left: 0px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}
.page_shipping .panel-billing .detail .group .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    width: 8px;
    height: 8px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}
.page_shipping .panel-billing .detail .group input[type=radio]:checked ~ .check {
    border: 5px solid #ad1b3f;
}
.page_shipping .panel-billing .detail .group input[type=radio]:checked ~ .check::before {
    background: #fff;
}
.page_shipping .panel-billing .detail .group input[type=radio]:checked ~ label {
    color: #ad1b3f;
}
.page_shipping .panel-billing .detail .group address {
    padding-left: 30px;
    position: relative;
    display: inline-block;
    width: 80%;
}
.page_shipping .panel-billing .detail .group a.bin {
    height: auto;
    font-size: 22px;
    color: #666;
}
.page_shipping .panel-billing .detail .add {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    float: left;
    width: 100%;
    border: 2px solid #9ca643;
    margin: 25px 0;
}
.page_shipping .panel-billing .form-billing .btn-submit-form{
    font-size: 14px;
    border-radius: 20px;
	-webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-box-shadow: 10px 0 5px -2px #888;
    box-shadow: 1px 2px 5px 1px #c1b2b2;
    letter-spacing: 1px;
    font-family: quarkbold;
    padding: 3px 30px;
}
.page_shipping .panel-billing .detail .add > a {
    text-decoration: none;
    color: #9ca643;
    font-family: 'quarkbold';
    font-size: 17px;
	display: block;
    padding: 15px;
}
.page_shipping .panel-billing .detail .add > a i {
    font-size: 17px;
}
.page_shipping .panel-billing .detail .form-shipping {
    position: relative;
    float: left;
    width: 100%;
}
.page_shipping .panel-billing .detail .form-shipping label {
    font-size: 16px;
    line-height: 34px;
    font-family: 'quarkbold';
}
.page_shipping .panel-billing .detail .form-shipping .btn-submit-form {
    background: #ad1b3f;
    border: none;
    border-radius: 10px;
    padding: 8px 20px;
}
.page_shipping .group-bot-back-left {
    display: inline-block;
    float: left;
        margin: 40px 0;
}
.page_shipping .group-bot-back-left .btn-b {
    background: #f8f8f8;
    border-radius: 15px;
    font-family: 'quarkbold';
    letter-spacing: 1px;
    font-size: 17px;
	    border-radius: 20px;
    -webkit-box-shadow: 10px 0 5px -2px #888;
    box-shadow: 1px 2px 5px 1px #c1b2b2;
}
.page_shipping .group-bot-next-right {
    display: inline-block;
    float: right;
    margin: 40px 0;
}
.page_shipping .group-bot-next-right .btn-n {
	background: #ad1b3f;
    color: #fff;
    font-family: 'quarkbold';
    letter-spacing: 1px;
    font-size: 17px;
    border-radius: 20px;
    -webkit-box-shadow: 10px 0 5px -2px #888;
    box-shadow: 1px 2px 5px 1px #c1b2b2;
}
.page_shipping .panel-billing .detail .form-billing label{
    font-size: 19px;
    line-height: 34px;
    font-family: 'quarkbold';
}
@media( max-width: 767px ){

	.page_shipping .group-bot-back-left .btn-b{
		font-size:14px;
	}
	.page_shipping .thank-detail{
		margin-bottom:0px;
	}
	.page_shipping .group-bot-next-right, .page_shipping .group-bot-back-left{
		margin: 25px 0px;
	}
	.page_shipping .group-bot-next-right .btn-n{
		font-size:14px;
	}
	.page_shipping .panel-shipping .detail .group address .red{
		color: #ad1b3f;
	}
	.page_shipping .panel-billing .detail .group address .red{
		color: #ad1b3f;
	}
	.page_shipping .panel-shipping, .page_shipping .panel-billing{
	    margin-top: 0px;
	}
	.page_shipping .panel-shipping .detail .add{
		padding: 8px;
		margin: 8px 0 0 0;
	}
	.page_shipping .panel-billing .detail .add{
		padding: 8px;
		margin: 8px 0 0 0;
	}
	.page_shipping .panel-shipping .detail .form-shipping label {
		float:left;
	}
	.page_shipping .panel-billing .detail .form-billing label{
		float:left;
	}

}
