APP_NAME=App
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=mariadb
DB_PORT=3306
DB_DATABASE=adiwitcoth
DB_USERNAME=root
DB_PASSWORD=88888888

BROADCAST_DRIVER=log
CACHE_DRIVER=array
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=

FACEBOOK_APP_KEY=
FACEBOOK_SECRET_KEY=
FACEBOOK_REDIRECT_URL=

GOOGLE_APP_KEY=
GOOGLE_SECRET_KEY=
GOOGLE_REDIRECT_URL=

TWITTER_APP_KEY=
TWITTER_SECRET_KEY=
TWITTER_REDIRECT_URL=

2C2P_PRIVATE_KEY=
2C2P_PUBLIC_KEY=
2C2P_SECRET_KEY=
2C2P_KEY_PASS=