.page-backoffice-shipping-create{
	padding-top:30px;
}
.page-backoffice-shipping-create .box-header-white {
    background: #fff;
    border-bottom: 1px solid #ccc;
}
.page-backoffice-shipping-create .box-header-white .header-left {
    display: inline-block;
    float: left;
    line-height: 61px;
    padding-left: 20px;
}
.page-backoffice-shipping-create .box-header-white .header-left figure {
    display: inline-block;
	margin-right:15px;
}
.page-backoffice-shipping-create .box-header-white .header-left .title {
    color: #666;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 19px;
}
.page-backoffice-shipping-create .box-header-white .header-left .title.active {
    color: #000;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 19px;
}
.page-backoffice-shipping-create .box-result {
    background: #fff;
    padding: 40px;
}
.page-backoffice-shipping-create .box-result .col-center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.page-backoffice-shipping-create .box-result .col-center .form-shpping{
	font-family: 'Kanit', sans-serif;
}
.page-backoffice-shipping-create .box-result .col-center .form-shpping {

}  
.page-backoffice-shipping-create .box-result .col-center .form-shpping .control-label{
	text-align: right;
}
.page-backoffice-shipping-create .box-result .col-center .form-shpping .geo{
	line-height:49px;
}
.page-backoffice-shipping-create .box-result .col-center .form-shpping .btn{
	cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: none;
    border: none;
    vertical-align: baseline;
    background: #E0E1E2 none;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0em 0.25em 0em 0em;
    padding: 0.78571429em 1.5em 0.78571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: bold;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: 0.28571429rem;
    box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
    transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
}


.page-backoffice-shipping-create .box-result .col-center .form-shpping .btn-save{
	text-transform: capitalize;
	background-color: #DB2828;
    color: #FFFFFF;
    text-shadow: none;
    background-image: none;
}
.page-backoffice-shipping-create .box-result .col-center .form-shpping .btn-save:hover{
    background-color: #d01919;
    color: #FFFFFF;
    text-shadow: none;
}
.page-backoffice-shipping-create .box-result .col-center .form-shpping .btn-cancel{
	text-transform: capitalize;
	background-color: #1B1C1D;
    color: #FFFFFF;
    text-shadow: none;
    background-image: none;
}
.page-backoffice-shipping-create .box-result .col-center .form-shpping .btn-cancel:hover{
	background-color: #2f3032;
    color: #FFFFFF;
    text-shadow: none;
}


.table-shipping-create .table{
	width: 90%;
}
.table-shipping-create .table > thead:first-child > tr:first-child{
	-webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
	border: 1px solid #e5e5e5;
}
.table-shipping-create .table tr td{
    vertical-align: middle;
	border:none;
	    font-weight: 500;
    color: #000;
}
.table-shipping-create .table tr td .border-sm{
    border: 1px solid #e5e5e5;
    padding: 4px;
    display: inline-block;
}
.table-shipping-create .table tr td .border-sm >input{
	border:none;
	width:50px;
}
.table-shipping-create .table tr td .border-sm >input:focus{
    outline: none;
}
.table-shipping-create .table tr td .icon{
	text-align: center;
    display: inline-block;
    background: #8a1330;
    padding: 0px 4px;
    border-radius: 17px;
}
.table-shipping-create .table tr td .icon i{
	    color: #fff;
    font-size: 12px;
}

@media( max-width: 600px ){
	.page-backoffice-shipping-create .box-result{
	    padding: 20px;
	}
}

@media( max-width: 425px ){
	.page-backoffice-shipping-create .box-result .col-center .form-shpping .btn-save{
		display: block;
		width: 100%;
		margin-bottom: 8px;
	}
	.page-backoffice-shipping-create .box-result .col-center .form-shpping .btn-cancel{
		display: block;
		width: 100%;
	}
}