/** 
 * @author: ระบุชื่อ-นามสกุลของคุณที่นี่
 * @phone: ระบุหมายเลขโทรศัพท์ของคุณที่นี่
 * @email: ระบุอีเมลของคุณที่นี่
 */
 .wrapper-page-backoffice{
	font-family: Kanit,sans-serif;
	margin-top: 20px;
	background: #fff;
	box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.2);
	.sec-head{
		padding: 25px 30px;
		font-size: 18px;
		color: #000;
		border-bottom: 1px solid #d0cfcf;
		span{
			vertical-align: middle;
			margin-left: 10px;
		}
	}
	.wrapper-inside{
		padding: 35px 30px;
		color: #000;
		.group-form-inside{
			padding-bottom: 20px;
			margin-bottom: 30px;
			border-bottom: 1px solid #d0cfcf;
			&.no-border{
				border: none;
			}
		}
	}
	.title-section{
		padding: 15px 30px;
		border-bottom: 1px solid #d0cfcf;
		h2{
			margin-bottom: 5px;
		}
	}
	h2{
		font-family: Kanit,sans-serif;
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 20px;
	}
}
.line-section{
	border-bottom: 1px solid #d0cfcf;
}
.wrap-flex{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content:space-between;
	align-items: center;
}
.form-inline{
	margin-bottom: 20px;
	&.flex-form{
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		justify-content:space-between;
		align-items: center;
		select{
			width: 100%;
			margin: 0 15px;
		}
		button{
			min-width: initial;
			white-space: nowrap;
			padding: 8px 15px;
		}
	}
	select{
		border-radius: 5px;
	}
	label{
		white-space: nowrap;
		font-style: normal;
		font-weight: 400;
		margin: 0;
	}
}
.btn-cancel{
	color: #fff;
	background: #2b2b29;
	&:hover{
		color: #fff;
	}
}
.btn-gap{
	margin: 0 10px;
}
.wrap-switch{
	a{
		vertical-align: middle;
	}
	span{
		vertical-align: middle;
		margin-left: 20px;
	}
}
.btn-switch{
	width: 95px;
	height: 30px;
	background: #2b2b29;
	display: inline-block;
	border-radius: 3px;
	position: relative;
	&:before{
		font: normal normal normal 14px/1 FontAwesome;
		content:"\f111";
		color: #efefef;
		line-height: 24px;
		text-align: center;
		position: absolute;
		width: 50%;
		left: 3px;
		top: 3px;
		bottom: 3px;
		background: #fff;
		border-radius: 3px;
	}
	&.active{
		background: #7acf28;
		&:before{
			right: 3px;
			left: initial;
		}
	}
}
.gap-inline-form{
	label{
		display: inline-block;
		vertical-align: top;
		margin-top: 10px;
		font-weight: 400;
		width: 100px;
	}
	textarea{
		padding: 10px;
	}
}
.browse-img{
	margin: 20px 0px;
	.group-browse-file{
		display: inline-block;
		max-width: 100%;
		a{
			min-width: 300px;
			max-width: 100%;
			color: #737373;
			display: inline-block;
			height: 35px;
			line-height: 35px;
			border: 1px solid #a1a1a1;
			border-radius: 3px;
			padding: 0 30px 0 110px;
			position: relative;
			&:before{
				content:"Browse";
				background: #9a0f0e;
				color: #fff;
				position: absolute;
				text-align: center;
				line-height: 35px;
				width: 80px;
				left: 0;
				top: 0;
				bottom: 0;
			}
		}
	}
	.show-img{
		margin: 30px 0 15px;
		span{
			vertical-align: top;
		}
	}
}
.group-edit{
	span{
		font-size: 18px;
		font-weight: 400;
		display: block;
		margin-bottom: 20px;
	}
	.flex-form{
		align-items:flex-start;
	}
	.form-inline{
		label{
			min-width: 150px;
		}
		input, textarea{
			border-radius: 3px;
			width: 100%;
			margin-right: 20px;
		}
	}
}
.item-banner{
	@extend .wrap-flex;
	padding: 10px 20px;
	border: 1px solid #e4e4e4;
	position: relative;
	background: red;
	background: -webkit-linear-gradient(top bottom, #fff, #f7f8f7);
	background: -o-linear-gradient(top bottom, #fff, #f7f8f7);
	background: -moz-linear-gradient(top bottom, #fff, #f7f8f7);
	background: linear-gradient(to bottom, #fff, #f7f8f7);
	>div{
		
	}
	.number{
		font-size: 24px;
		// border-right: 1px solid #e4e4e4;
		padding-right: 20px;
		height: 100%;
	}
	.detail-banner{
		padding: 0 15px;
		>div{
			margin: 25px 0;
		}
		.title-detail{
			display: inline-block;
			min-width: 80px;
			margin: 0;
		}
		.group-browse-file{
			a{
				min-width: 250px;
			}
		}
		.inline{
			display: inline-block;
		}
	}
	.wrap-pic-slide{
		img{
			max-width: 100%;
		}
	}
}
@media screen and (max-width: 992px){
	.group-edit{
		.form-inline{
			label{
				min-width: 80px;
			}
		}
	}
	.item-banner{
		flex-flow: column;
	}
}
@media screen and (max-width: 768px){
	.form-inline{
		margin-bottom: 35px;
		&.flex-form{
			flex-flow: column;
			select{
				margin: 5px 0 10px;
			}
			button{
				width: 100%;
			}
		}
	}
	.browse-img{
		.group-browse-file{
			a{
				min-width: 200px;
			}
		}
	}
	.wrapper-page-backoffice{
		.wrapper-inside{
			padding: 15px 20px;
		}
	}
	.item-banner{
		margin-bottom: 10px;
	}
}