.care{
    
}
.btn-red {
  background-color: #cd1c22!important;
    color: white;

}
.btn-red:hover {
  background-color: #d82b2f!important;
    color: white;

}

.btn-black {
  background-color: #3d3e40!important;
  color: white;

}
.btn-black:hover {
  background-color: #1b1c1e!important;
  color: white;

}

.txt-center{
    text-align: center;
}


.list li .btn-action input[type='radio']:before {
    content: '';
    display: block;
    width: 41%;
    height: 41%;
    margin: 28% auto;
    border-radius: 50%;  
}
.list li .btn-action input[type='radio']:checked:before {
    background:#980f0e;
}
.txt-check2 {
  padding-left: 40px;
  padding-right: 42px;
}

.label-checkbox2 {
  margin: 0 !important;
  padding: 0 !important;
  line-height: 21px;
}

.input2 input[type=checkbox] {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  cursor: pointer;
  font-size: 27px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: #fff;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-width: 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  margin: 0;
  padding: 0;
  position: absolute;
  border-radius: 3px;
  border: 1px solid #ccc;
}

input[type="checkbox"]:focus {
  outline: 0 none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.input2 input[type=checkbox]:after {
  content: " ";
  background-color: #9FFF9D;
  display: inline-block;
  visibility: visible;
}

.input2 input[type=checkbox]:checked:after {
  content: "";
  background-color: #980f0e;
  display: inline-block;
  visibility: visible;
  font-size: 20px;
  width: 18px;
  height: 18px;
  padding-left: 5px;
  line-height: 18px;
  color: white;
  position: absolute;
  border-radius: 3px;
}

hr {
  border-color: rgba(120, 130, 140, 0.4) !important;
  margin-top: 50px;
  margin-bottom: 50px;
}

.btn-red {
  background-color: #9a0f0e;
  color: white;
  border-radius: 4px;
  padding-left: 19px;
  padding-right: 19px;
}

.btn-black {
  background-color: #353432;
  color: white;
  border-radius: 4px;
  padding-left: 19px;
  padding-right: 19px;
}

.textarea {
  font-size: 12px;
}

.coverbook {
  margin-top: 12px;
}

.v-lin {
  height: 100%;
  border-left: 1px solid #ccc;
  width: 1px;
  float: left;
}

.list li .btn-action .delete {
  padding: 2px;
  border: 1px solid #d0cfcf;
  border: 1px solid #d0cfcf;
  margin: 10px;
  display: inline-block;
  float: right;
  margin-top: 29px;
}

.list li .btn-action .touch {
  display: inline-block;
  float: left;
  margin-top: 35px;
  padding-left: 5px;
  padding-right: 5px;
}

.list li .btn-action input[type=radio] {
  padding: 10px;
  padding: 2px;
  border: 1px solid #d0cfcf;
  margin: 10px;
  display: inline-block;
  float: right;
  margin-top: 39px;
  margin-right: 30px;
}

.list li .btn-action input[type=checkbox] {
  padding: 10px;
  padding: 2px;
  border: 1px solid #d0cfcf;
  margin: 10px;
  display: inline-block;
  float: left;
  margin-top: 39px;
  margin-right: 12px;
    transform: scale(1.3);
}

.labal-gray {
  color: #bbb;
}

.order .form-group {
  margin-bottom: 35px !important;
}

.img-crop img {
  margin: auto;
}

.img-crop {
  width: 100%;
  height: 140px;
  border: 1px dashed #ccc;
  background-color: #f5f5f5;
  border-radius: 3px;
  overflow: hidden;
}

.custom-file-upload-hidden {
  display: none;
  visibility: hidden;
  position: absolute;
  left: -9999px;
}

.custom-file-upload {
  display: block;
  width: auto;
  font-size: 16px;
  margin-top: -7px;
}

.custom-file-upload label {
  display: block;
  margin-bottom: 5px;
}

.file-upload-wrapper {
  position: relative;
  margin-bottom: 5px;
}

.file-upload-input {
  /*  width: 300px;*/
  color: #000;
  font-size: 16px;
  /*  padding: 11px 17px;*/
  /*  border: none;*/
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  float: left;
  /* IE 9 Fix */
  border-left: none;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  line-height: 34px;
}

.file-upload-button {
  height: 38px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  /*
  text-transform: uppercase;
  padding: 11px 20px;
*/
  border: none;
  margin-left: -1px;
  background-color: #9a0f0e;
  color: white;
  float: left;
  /* IE 9 Fix */
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.file-upload-button:hover {
  background-color: #6d2018;
}

.txt-check {
  padding-left: 30px;
  padding-right: 25px;
}

.input {
  padding-left: 4.4%;
}

.label-Checkbox {
  margin: 0 !important;
  padding: 0 !important;
  line-height: 30px;
}

.input input[type=radio] {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  cursor: pointer;
  font-size: 27px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: #fff;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-width: 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  margin: 0;
  padding: 0;
  position: absolute;
  border-radius: 3px;
  border: 1px solid #ccc;
}

input[type="radio"]:focus {
  outline: 0 none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.input input[type=radio]:after {
  content: " ";
  background-color: #9FFF9D;
  display: inline-block;
  visibility: visible;
}

.input input[type=radio]:checked:after {
/*  content: "\2714";*/
    
    background-image:url("/images/backOffice/setting/product/check.png");
  background-color: #980f0e;
  display: inline-block;
  visibility: visible;
  font-size: 20px;
  width: 20px;
  height: 20px;
  padding-left: 5px;
  line-height: 28px;
  color: white;
  position: absolute;
  border-radius: 3px;
  background-size: cover;
}

.btn-red {
  background-color: #a62221;
  color: #fff;
  margin-right: 10px;
}

.btn-black {
  color: #fff;
  margin-left: 10px;
}

.content .calendar {
  float: right;
  border-left: 1px solid #a1a1a1;
  padding-left: 10px;
  margin-top: -37px;
  padding-right: 10px;
  line-height: 38px;
}

.content .calendar i {
  font-size: 20px;
}

.content .data {
  font-size: 18px;
  line-height: 20px;
  font-family: 'Kanit', sans-serif;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: -10px;
  font-weight: 500;
}

.container-back {
  padding: 5px 5px;
}

.order {
  font-family: "Kanit" !important;
  letter-spacing: 0px;
}

.order .box-product .code {
  padding: 20px 10px;
  border-top: 1px solid #ddd !important;
}

.order .box-product .code .btn {
  background-color: #a62221;
  color: #fff;
}

.order .box-product .line {
  border-top: 1px solid #ddd !important;
}

.order .box-product .summary {
  text-align: right;
  display: inline-block;
  width: 100%;
  line-height: 39px;
  font-size: 16px;
}

.order .box-product .summary .parent-total {
  padding-left: 0;
  padding-right: 0;
}

.order .box-product .summary .price {
  text-align: right;
}

.order .box-product .summary .net {
  padding-top: 5px;
}

.order .box-product .summary .total {
  padding: 0;
}

.order .box-product .header {
  height: 30px;
  display: inline-block;
  width: 100%;
  font-family: 'Kanit', sans-serif;
  line-height: 30px;
  padding-left: 10px;
  color: #000;
  border-bottom: 1px solid #ddd !important;
}

.order .box-product .body {
  /*  height: 245px;*/
  height: 173px;
  overflow-y: scroll;
}

.order .box-product .body ul {
  margin: 0;
  padding: 0;
}

.order .box-product .body ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #ccc;
  display: inline-block;
  width: 100%;
  height: 90px;
  margin-top: -6px;
  padding-right: 15px;
}

.order .box-product .body ul li .cover {
  display: inline-block;
  float: left;
  border: 1px solid #ccc;
}

.order .box-product .body ul li .data {
  font-size: 15px;
  line-height: 23px;
  display: inline-block;
  float: left;
  margin-bottom: 0;
  padding-right: 0px;
  padding-left: 20px;
  font-weight: normal;
  color: #000;
  margin-top: 8px;
}

.order .box-product .body ul li .data .count {
  color: #000;
  font-size: 11px;
}

.order .box-product .body ul li .data .point {
  color: #ccc;
  font-size: 13px;
}

.order .box-product .body ul li .price {
  text-align: center;
  font-size: 14px;
  display: inline-block;
  float: right;
  padding-right: 0px;
  padding-top: 5px;
}

.order .box-product .body ul li .price .red {
  font-size: 20px;
  color: #a62221;
}

.order .form-horizontal .control-label {
  text-align: left !important;
    color: #000;
}

.order .box-p-h {
  display: inline-block;
  width: 100%;
}

.order .box-p {
  padding-top: 15px;
  width: 110px;
  height: 110px;
  float: left;
  margin-right: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.order .box-p .txt {
  line-height: 20px;
  padding-top: 10px;
}

.order .box-p .big {
  padding-top: 0px;
  font-size: 18px;
  font-weight: bold;
  padding-left: 5px;
}

.order .box-p.opacity {
  border: 1px solid #ddd !important;
}

.order .box-p.opacity img {
  opacity: 0.3;
}

.order .box-p.opacity .txt {
  color: #ddd;
}

.order .box-p.opacity .big {
  color: #ddd;
}

.order .box-pay {
  padding: 10px;
  display: inline-block;
}

.order .box-pay .add-p {
  line-height: 75px;
  border: 1px dashed #a1a1a1;
}

.order .box-c {
  min-height: 90px;
}

.order .box-c .add {
  line-height: 60px;
}

.order .txt-center {
  text-align: center;
}

.order .txt-black {
  color: #000;
}

.order .c-padding {
  padding: 15px 25px;
}

.order .bg {
  display: inline-block;
  width: 100%;
  background-color: #fff;
}

.order .shadow {
  -webkit-box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.55);
}

.order .border {
  border: 1px solid #d0cfcf;
}

.order .radius {
  border-radius: 3px;
}

.order .float-left {
  float: left;
  display: inline-block;
}

.order .float-right {
  float: right;
}

.order .underline {
  border-bottom: 1px solid #d0cfcf;
}

.order .header {
  height: 80px;
  display: inline-block;
  width: 100%;
}

.order .header .btn-action {
  width: 80px;
  display: inline-block;
  line-height: 80px;
  text-align: center;
}

.order .header .order-id {
  font-family: "Kanit" !important;
  height: 80px;
  display: inline-block;
  line-height: 80px;
  background-color: #d7d7d7;
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  color: #000;
  border-left: 1px solid #d0cfcf;
}

.order .header .order-id span {
  color: #a62221;
}

.order .content {
  padding: 30px;
  display: inline-block;
  width: 100%;
}

.order .border-left {
  border-left: 1px solid #d0cfcf;
}

.order .page-name .icon {
  padding-left: 25px;
  line-height: 80px;
}

.order .page-name .txt {
  color: #8e8e8e;
  font-family: "Kanit" !important;
}

.order .page-name .txt span {
  color: #000;
}

.order .page-name .text {
  padding-left: 10px;
  line-height: 80px;
  font-size: 18px;
  font-weight: 500;
}

.border2 {
  border: 1px solid #a1a1a1;
}

.gradient {
  background: rgba(255, 255, 255, 0);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #f7f7f7));
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f7f7f7));
  background: linear-gradient(to bottom, white 0%, #f7f7f7 100%);
}

.clear {
  clear: both;
}

.col-category{
  padding-left: 7.5px;
  padding-right: 7.5px;
  margin-bottom: 10px;

  .txt-check{
    padding-right: 0;
  }

  input[type=checkbox] {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    cursor: pointer;
    font-size: 27px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border-radius: 1px;
    box-sizing: border-box;
    position: relative;
    box-sizing: content-box;
    border-width: 0;
    transition: all .3s linear;
    margin: 0;
    padding: 0;
    position: absolute;
    border-radius: 3px;
    border: 1px solid #ccc;

    &:after {
      content: " ";
      background-color: #9FFF9D;
      display: inline-block;
      visibility: visible;
    }

    &:checked:after {
        content: "";
        background-color: #980f0e;
        display: inline-block;
        visibility: visible;
        font-size: 20px;
        width: 18px;
        height: 18px;
        padding-left: 5px;
        line-height: 18px;
        color: white;
        position: absolute;
        border-radius: 3px;
    }
  }




  
}

@media (min-width: 0px) {
  .container-back {
    padding: 10px 10px;
  }
}

@media (min-width: 320px) {
  .container-back {
    padding: 10px 10px;
  }
}

@media (min-width: 475px) {
  .container-back {
    padding: 10px 10px;
  }
}

@media (min-width: 755px) {
  .container-back {
    padding: 10px 10px;
  }
}

@media (min-width: 625px) {
  .container-back {
    padding: 25px 25px;
  }
}

@media (min-width: 320px) {
  .padding {
    padding-right: 0px;
  }
}

@media (min-width: 768px){
  .col-category {
      width: 20%;
      float: left;
  }
}
@media (min-width: 1170px) {
  .padding {
    padding-right: 100px;
  }
}
