/** 
 * @author: วราทัศน์ พานทองถาวร
 * @phone: 087-806-5868
 * @email: boss119@hotmail.com
 */

//mixin 
@mixin box-shadow($shadow: 0px 2px 5px rgba(0, 0, 0, 0.4)) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin transition($args: all .3s linear) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin background-gradient() {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,fbfbfc+49,f7f7f7+100 */
    background: rgb(255, 255, 255);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(251, 251, 252, 1) 49%, rgba(247, 247, 247, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(251, 251, 252, 1) 49%, rgba(247, 247, 247, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(251, 251, 252, 1) 49%, rgba(247, 247, 247, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* IE6-9 */
}

@mixin background-gradient-grey() {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dfdfdf+0,dbdbdb+50,d7d7d6+100 */
    background: rgb(223, 223, 223);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(223, 223, 223, 1) 0%, rgba(219, 219, 219, 1) 50%, rgba(215, 215, 214, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(223, 223, 223, 1) 0%, rgba(219, 219, 219, 1) 50%, rgba(215, 215, 214, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(223, 223, 223, 1) 0%, rgba(219, 219, 219, 1) 50%, rgba(215, 215, 214, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

//variables
$ci_red: #9f1211;
$ci_grey: #8e8e8e;
$border-color: #e5e5e5;
$input-border-color: #a1a1a1;
$panel-block-bg: #fefefe;
$btn-primary-color: #ffffff;
$btn-primary-bg: #980f0e;
$btn-secondary-color: #ffffff;
$btn-secondary-bg: #353432;

/* ======================================== */

//Typography
h3 {
    font-family: 'Kanit', sans-serif;
    text-transform: none;
    font-weight: 500;
}

h4,
h5 {
    font-family: 'Kanit', sans-serif;
    text-transform: none;
    font-weight: 400;
}

.panel {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}


/* ======================================== */

//utility
.bg-white {
    background-color: #ffffff !important;
}

.m-auto {
    margin: auto !important;
    float: none;
}

.text-grey {
    color: $ci_grey !important;
}

.text-red {
    color: $ci_red !important;
}

.text-bold {
    font-weight: 500 !important;
}

.gradient {
    @include background-gradient();
}

.mt {
    &-1 {
        margin-top: 10px !important;
    }
    &-2 {
        margin-top: 20px !important;
    }
    &-3 {
        margin-top: 30px !important;
    }
}

.mb {
    &-1 {
        margin-bottom: 10px !important;
    }
    &-2 {
        margin-bottom: 20px !important;
    }
    &-3 {
        margin-bottom: 30px !important;
    }
}

.ml {
    &-1 {
        margin-left: 10px !important;
    }
    &-2 {
        margin-left: 20px !important;
    }
    &-3 {
        margin-left: 30px !important;
    }
}

.mr {
    &-1 {
        margin-right: 10px !important;
    }
    &-2 {
        margin-right: 20px !important;
    }
    &-3 {
        margin-right: 30px !important;
    }
}

.my {
    &-1 {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
    &-2 {
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }
    &-3 {
        margin-top: 30px !important;
        margin-bottom: 30px !important;
    }
}

.mx {
    &-1 {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
    &-2 {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
    &-3 {
        margin-left: 30px !important;
        margin-right: 30px !important;
    }
}


/* ======================================== */

//components
.btn {
    border: 0;
    border-radius: 5px;
    @include transition();
    &:hover {
        border: 0;
    }
    &-primary {
        color: $btn-primary-color;
        background-color: $btn-primary-bg;
    }
    &-secondary {
        color: $btn-secondary-color;
        background-color: $btn-secondary-bg;
    }
    &-sm {
        min-width: 70px;
    }
    &-md {
        min-width: 90px;
    }
    &-lg {
        min-width: 110px;
    }
}

//pagination
.pagination {
    margin: 0;
    font-weight: 400;
    >li {
        &.active {
            a,
            a:hover {
                background-color: $ci_red;
                border-color: $ci_red;
            }
        }
        a {}
    }
}

//bloc
.panel {
    &-default {
        @include box-shadow();
        margin-top: 30px;
        h4 {
            img {
                padding-right: 15px;
            }
        }
    }
    &-heading {
        border-bottom: 1px solid #d0cfcf;
        h4 {
            span {
                color: #d0cfcf;
            }
        }
        &--action {
            padding: 0 !important;
            h4 {
                float: left;
                padding: 20px 25px;
                margin: 0;
            }
        }
        &__search {
            float: right;
            display: inline-block;
            padding: 20px;
            max-width: 300px;
            input {
                background-color: transparent;
                border-right: 0;
                border-radius: 3px 0 0 3px;
                height: 35px;
                font-weight: 300;
                border-right: 0 !important;
                &:focus {
                    border: 1px solid #d0cfcf;
                }
            }
            button {
                height: 100%;
                border: 0;
                background-color: transparent;
                padding: 0 10px;
                cursor: pointer;
                line-height: 0px;
            }
            .input-group-addon {
                background-color: transparent;
                border-left: 0;
                border-radius: 0 3px 3px 0;
                padding: 0;
                border: 1px solid #d0cfcf;
                border-left: 0 !important;
                i {
                    &:before {
                        color: #d0cfcf;
                    }
                }
            }
        }
        &__add {
            float: right;
            display: inline-block;
            border-left: 1px solid #d0cfcf;
            a {
                display: block;
                padding: 21px 0;
                width: 85px;
                text-align: center;
            }
        }
        &__delete {
            float: right;
            display: inline-block;
            border-left: 1px solid #d0cfcf;
            a {
                display: block;
                padding: 21px 0;
                width: 85px;
                text-align: center;
            }
        }
        &__order {
            display: inline-block;
            padding: 28px 20px;
            background-color: #d7d7d7;
            border-left: 1px solid #b2b1b1;
            min-width: 220px;
            text-align: center;
        }
    }
    &-body {
        .title {
            margin-bottom: 40px;
        }
        &__block {
            background-color: $panel-block-bg;
            border: 1px solid $border-color;
            border-radius: 3px;
            width: 100%;
            padding: 40px 50px 35px;
            margin: 25px 0;
        }
    }
    &-footer {
        .total {
            padding: 10px 0 0;
            font-weight: 400;
            color: #7d7d7d;
        }
    }
}

//form
fieldset {
    &.inline {
        display: inline-block;
    }
    &:last-child {
        button {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .btn-save {
            &:hover {
                background-color: #8d0c0c;
            }
            &:active {
                background-color: #7e0b0b;
            }
            &:focus {
                background-color: #7e0b0b;
            }
        }
        .btn-cancel {
            margin-left: 25px;
            background-color: #353432;
            &:hover {
                background-color: darken(#353432, 10%);
            }
            &:active {
                background-color: darken(#353432, 20%);
            }
        }
    }
}

.form-group {
    &--inline {
        margin-bottom: 15px;
        .control-label {
            display: inline-block;
            width: 124px;
            vertical-align: top;
        }
        .form-control {
            display: inline-block;
            width: calc(100% - 90px);
            position: relative;
        }
        .glyphicon-calendar:before {
            position: absolute;
            top: 1px;
            right: 9px;
        }
        .input-group-addon {
            width: 40px;
            height: 36px;
            border-left: 1px solid #a1a1a1;
            position: absolute;
            top: 1px;
            right: 3px;
            z-index: 100;
            .glyphicon {
                top: -8px;
                left: 17px;
            }
        }
        .upload {
            &__images {
                display: inline-block;
                .form-control {
                    margin-left: 78px;
                    height: 36px;
                    width: calc(100% - 87px);
                    position: absolute;
                }
                .input-group-btn {
                    position: absolute;
                    margin-left: 15px;
                }
            }
        }
    }
    .form-control {
        display: inline-block;
        width: calc(100% - 140px);
        border: 1px solid $input-border-color;
        border-radius: 3px;
        margin-left: 10px;
    }
    .input-group {
        position: absolute;
        width: calc(100% - 130px);
        &.date {
            width: calc(100% - 13px);
            .control-label {
                float: left;
            }
            .form-control {
                margin-left: 14px;
            }
        }
        .btn-file {
            position: relative;
            overflow: hidden;
            input[type=file] {
                // position: absolute;
                top: 0;
                right: 0;
                min-width: 100%;
                min-height: 100%;
                font-size: 100px;
                text-align: right;
                filter: alpha(opacity=0);
                opacity: 0;
                outline: none;
                background: white;
                cursor: inherit;
                display: block;
            }
        }
    }
    #img-upload{
        width: 52%;
        float: right;
        margin-top: 45px;
        margin-right: 5px;
    }
    #my-images {
        display: none;
        transform: translate3d(138px,30px,0);
        font-weight: 400;
        width: 70px;
    }
}


.label-inline {
    padding: 5px 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch {
    input {
      display:none;
      &:checked + .slider {
        background-color: #8a1330;
        .status {
            &__show {
                display: none;
            }
            &__hide {
                display: inline-block;
                vertical-align: top;
                margin-left: 100px;
                width: 50px;
            }
        }
      }
      &:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      &:focus + .slider {
        box-shadow: 0 0 1px #8a1330;
      }
    }
}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #353432;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 5px;
    &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;    
    }
    .status {
        &__show {
            display: inline-block;
            vertical-align: top;
            margin-left: 100px;
        }
        &__hide {
            display: none;
        }
    }
}

@media (max-width: 1480px) {
    .form-group {
        #img-upload{
            width: 44%;
        }
    }
}

@media (max-width: 1300px) {
    .form-group {
        #img-upload{
            width: 40%;
        }
    }
}
@media (max-width: 1167px) {
    .form-group {
        &--inline {
            .form-control {
                width: 100%;
                &#group-select {
                    width: 100%;
                }
                &.date {
                    position: relative;
                    width: 100%;
                    .form-control {
                        margin-left: 10px;
                    }
                }
            }
        }
        .input-group-addon {
            top: 26px;
            right: -13px;
        }
    }
}
@media (min-width: 992px) and (max-width: 1235px) {
    .form-group {
        #img-upload{
            width: 35%;
        }
    }
}

@media (min-width: 992px) {
    .col-md-1 {
        width: 12%;
    }
}

@media (max-width: 992px) {
    .form-group {
        &--inline {
            min-height: 80px;
            .form-control {
                width: 100%;
                &#group-select {
                    width: 100%;
                }
                &.date {
                    width: 100%;
                    position: relative;
                }
            }
            .input-group-addon {
                top: 26px;
                right: -13px;
            }
        }
    }
}

@media (max-width: 767px) {
    .panel {
        &-heading {
            &__search {
                display: block;
                width: 100%;
                text-align: center;
                border-top: 1px solid #d0cfcf;
                max-width: none;
            }
        }
        &-footer {
            .text-right {
                text-align: left !important;
            }
        }
    }
    .form-group {
        &--inline {
            min-height: 80px;
            .control-label {
                width: 100%;
            }
            .form-control {
                width: 100%;
                &#group-select {
                    width: 100%;
                }
            }
            .input-group-addon {
                right: -5px;
            }
            .upload {
                &__images {
                    .form-control {
                        position: absolute;
                    }
                    .input-group-btn {
                        margin-left: 0px;
                    }
                }
            }
        }
        .input-group {
            position: inherit;
            &.date {
                width: 100%;
            }
        }
    }
    #img-upload{
        width: 60%;
        margin-top: 40px;
        margin-right: -6px;
    }
    #my-images {
        transform: translate3d(0px,45px,0);
    }
}

@media (max-width: 479px) {
    .panel {
        & &-heading {
            padding: 10px 15px;
            &__search {}
            &__add a,
            &__delete a {
                width: 45px;
            }
        }
        & &-body {
            padding: 0 15px;
            &__block {
                padding: 15px;
                margin: 15px 0;
            }
        }
    }
}